@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

*,
*::before,
*::after {
    margin: 2px;
    padding: 3px;
    box-sizing: border-box;
}

body {
    background-color: #68686c;
    color:white;
    padding-top: 80px;  /* Igual a la altura del header */
    margin: 0; 
}

#header {
    position: fixed;
    background-color: #021526;
    border-radius: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    /*flex-direction: column;*/
    /*justify-content:right;
    align-items: center;
    z-index: 1000;
    /*position: relative;*/
}

#header .navbar ul li a {
    justify-content:right;
}

.mark {
    color: #f9fafb;
    font-size:large;
    justify-content: center;
    align-items:center;
    padding: 10px;
}

/* Estilos menu */
.navbar {
    display: flex;
    border-radius: 20px, 20px;
    justify-content: space-between;
    justify-content:right;
    align-items: center;
    background-color: #021526;
    /*padding: 10px 10px;*/
    margin: 10px, 10px;
}

.logo {
    background-color: #021526;
    display:flex;
    position: relative;
    justify-content:center;
    align-items: center;
    width: 75px;
    height: 70px;
    /* overflow: hidden; */
}

.logo img {
    position: absolute;   /* Superpone las imágenes */
    width: 55%;          /* Ajusta el tamaño de la imagen al contenedor*/ 
    height: 60%;
    background-color: rgb(250, 251, 251);
    border-radius: 50%;
    object-fit: cover;    /* Ajusta la imagen sin deformarla*/ 
    transition: opacity 0.2s ease;
}

.logo1 {
    z-index: 2;   /* Está en la capa superior */
    opacity: 1;   /* Visible por defecto*/ 
}

.logo2 {
    z-index: 1;
    opacity: 0; /* Oculta la segunda imagen por defecto */
}

.logo:hover .logo2 {
    opacity: 1; /* Muestra la segunda imagen al pasar el mouse */
    z-index: 3;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-items:right;
    margin: 0;
    padding: 0;
}

/*.nav-links li {
    margin-left: 10px;
    background-color: #155697;
    border-radius: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav-links a:hover {
    color: #050606;
}*/

/* Estilos responsivos */
@media (max-width: 768px) {
    .nav-links {
        display: none; /* Oculta los enlaces en móviles */
        flex-direction: column;
        width: 100%;
    }

    .nav-links.active {
        display: flex; /* Muestra los enlaces cuando el menú está activo */
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
}

/* Estilos para botones */ 
button {
    position: relative;
    margin: 0;
    padding: 5px 15px;
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #0b0b0b;
    border: 1px solid rgba(22, 76, 167, 0.6);
    border-radius: 10px;
    color: #1d89ff;
    font-weight: 400;
    font-family: inherit;
    z-index: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

button a {
    color: #164ca7;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.7px;
}  
button:hover {
    animation: rotate624 0.7s ease-in-out both;
}

button:hover a {
    animation: storm1261 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

@keyframes rotate624 {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes storm1261 {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }

    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }

    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }

    75% {
        ransform: translate3d(2px, 0, 0) translateZ(0);
    }

    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}

.btn-shine {
    border: 1px solid;
    overflow: hidden;
    position: relative;
}

.btn-shine span {
    z-index: 20;
}

.btn-shine:after {
    background: #f4f1f1;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.4;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
}

.btn-shine:hover:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
